# Thresholding:
#
# This feature is used to reduce the number of logged alerts for noisy rules.
# Thresholding commands limit the number of times a particular event is logged
# during a specified time interval.
#
# The syntax is the following:
#
# threshold gen_id <gen_id>, sig_id <sig_id>, type <limit|threshold|both>, track <by_src|by_dst>, count <n>, seconds <t>
#
# event_filter gen_id <gen_id>, sig_id <sig_id>, type <limit|threshold|both>, track <by_src|by_dst>, count <n>, seconds <t>
#
# suppress gen_id <gid>, sig_id <sid>
# suppress gen_id <gid>, sig_id <sid>, track <by_src|by_dst>, ip <ip|subnet>
#
# The options are documented at https://docs.suricata.io/en/latest/configuration/global-thresholds.html
#
# Please note that thresholding can also be set inside a signature. The interaction between rule based thresholds
# and global thresholds is documented here:
# https://docs.suricata.io/en/latest/configuration/global-thresholds.html#global-thresholds-vs-rule-thresholds

# Limit to 10 alerts every 10 seconds for each source host
#threshold gen_id 0, sig_id 0, type limit, track by_src, count 10, seconds 10

# Limit to 1 alert every 10 seconds for signature with sid 2404000 per destination host
#threshold gen_id 1, sig_id 2404000, type limit, track by_dst, count 1, seconds 10

# Avoid to alert on f-secure update
# Example taken from https://blog.inliniac.net/2012/03/07/f-secure-av-updates-and-suricata-ips/
#suppress gen_id 1, sig_id 2009557, track by_src, ip 217.110.97.128/25
#suppress gen_id 1, sig_id 2012086, track by_src, ip 217.110.97.128/25
#suppress gen_id 1, sig_id 2003614, track by_src, ip 217.110.97.128/25

# ---------- ESCANEOS MASIVOS -----
# Censys
suppress gen_id 1, sig_id 2403537, track by_dst, ip 192.168.1.69
# No identificados / Infectados
suppress gen_id 1, sig_id 2400005, track by_dst, ip 192.168.1.69

# ---------- ROUTER -----
# Ruido de conexion local
suppress gen_id 1, sig_id 2221010, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2221010, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2260002, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2260002, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2033078, track by_src, ip 192.168.1.0/24

# --------- CISCO -------
#-Silenciamos el ruido del protocolo STP del Cisco (Ethertype unknown)
suppress gen_id 1, sig_id 2200121
#- Silenciamos el Wrong Direction que sucede al conectar cables en caliente
suppress gen_id 1, sig_id 2260001

# --------- SILENCIOS DEL NAS ------
#(192.168.1.113)
# P2P - Warning Generico
suppress gen_id 1, sig_id 2011705, track by_src, ip 192.168.1.0/24
# P2P -- Rutorrent
suppress gen_id 1, sig_id 2010144, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2000357, track by_src, ip 192.168.1.0/24
# File Sharing / DNS Filemail
suppress gen_id 1, sig_id 2063137, track by_src, ip 192.168.1.0/24
# Dominios .to que son tipicos de los tracker torrent
suppress gen_id 1, sig_id 2027757, track by_src, ip 192.168.1.0/24

# ---------- SILENCIOS DESDE MI PC (Diogenes-JR - 192.168.1.69)
# Discord
suppress gen_id 1, sig_id 2060502, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2060503, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2060504, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2060505, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2035463, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2035465, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2035466, track by_src, ip 192.168.1.0/24
# Notion
suppress gen_id 1, sig_id 2038646, track by_src, ip 192.168.1.0/24
# Steam
suppress gen_id 1, sig_id 2028651, track by_src, ip 192.168.1.0/24
# Cgpeers
suppress gen_id 1, sig_id 2027757, track by_src, ip 192.168.1.0/24
# Amazon verificacion de Certificados CRL
suppress gen_id 1, sig_id 2221036, track by_src, ip 192.168.1.0/24
# Movistar errores  RST / TCP
suppress gen_id 1, sig_id 2210046, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210045, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210045, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210010, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210010, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210030, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210030, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210035, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210035, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210036, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210036, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210004, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210004, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210008, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210008, track by_dst, ip 192.168.1.0/24
# Epic Games / CDNs de juegos
suppress gen_id 1, sig_id 2210016, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210016, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2221036, track by_dst, ip 192.168.1.0/24
# Ilerna
suppress gen_id 1, sig_id 2210050, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210054, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210054, track by_dst, ip 192.168.1.0/24
# DNSs
suppress gen_id 1, sig_id 2029340, track by_dst, ip 192.168.1.0/24
# Verificaciones de DNS lookups
suppress gen_id 1, sig_id 2044673, track by_src, ip 192.168.1.0/24
# Windows
suppress gen_id 1, sig_id 2031071, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2031071, track by_dst, ip 192.168.1.0/24
# Bitdefender
suppress gen_id 1, sig_id 2210016, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210016, track by_dst, ip 192.168.1.0/24
# Asus
suppress gen_id 1, sig_id 2210038, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2210038, track by_dst, ip 192.168.1.0/24
# Anydesk
suppress gen_id 1, sig_id 2060507, track by_src, ip 192.168.1.0/24
# Rustdesk
suppress gen_id 1, sig_id 2043343, track by_src, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2044076, track by_src, ip 192.168.1.0/24
#Battlenet
suppress gen_id 1, sig_id 2210056, track by_dst, ip 192.168.1.0/24
# Amazon
suppress gen_id 1, sig_id 2221036, track by_dst, ip 192.168.1.0/24
# Parsec
suppress gen_id 1, sig_id 2016149, track by_dst, ip 192.168.1.0/24
suppress gen_id 1, sig_id 2016150, track by_dst, ip 192.168.1.0/24
# VMWare
suppress gen_id 1, sig_id 2033078, track by_src, ip 192.168.1.0/24
# Dropbox
suppress gen_id 1, sig_id 2030702, track by_src, ip 192.168.1.0/24